[general]
	enabled=true

# The dev-control parameters should be used when sending commands to this module,
# including in the AudioVideo.cfg file.
#
# Note that any dev-control parameters are limited to what we have predefined 
# in this module or AMX:
#	33022:1:1, 33022:2:1, 33022:3:1, 33022:4:1,  33022:5:1,  33022:6:1
#	33022:7:1, 33022:8:1, 33022:9:1, 33022:10:1, 33022:11:1, 33022:12:1
#
# Also, the dev-local devices are not referenced anywhere else but must be unique
# across ALL modules.

[plex]
	id=1
	name=Movies
	dev-control=33021:1:0
	dev-local=0:21:0
	server-ip-address=192.168.188.13
	server-port=32400
	media-player-name=MacMini3.local.
